@tailwind base;
@tailwind components;
@tailwind utilities;

hmtl, body {
    font-family: 'Inter', sans-serif;
    height: 100%;
}

@layer components {
    .colored-bg-locations {
		background-image: radial-gradient(circle at top right, #ffff 1%, #e2ff1a 99%);
	}
}